@using Webclient.Models;
@model List<ServiceExtended>

@{
    ViewBag.Title = "Index";
}

<h2>Monitor</h2>

@foreach (var s in Model) {
    <!-- Service -->
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-5">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">@s.Name @s.Id</div>
                <!-- TODO: Farbe pro Status anpassen -->
                <div class="col-sm-12 col-md-6 col-lg-6">Status aus Servicecontroller</div>
            </div>
			<br />
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#serviceDescription_@s.Id">Description</button>
            <div id="serviceDescription_@s.Id" class="collapse">
                Beschreibung aus Servicecontroller
            </div>
        </div>

        <!-- Zwischenteil -->
        <div class="col-sm-0 col-md-2 col-lg-2"></div>

        <div class="col-sm-6 col-md-5 col-lg-5">
            <!-- Momentaner Status ausgrauen -->
            <div class="row">

                <div class="col-sm-12 col-md-4 col-lg-4">@Html.ActionLink("Start", "Start", new { id = s.Id }, new { @class = "btn btn-success" })</div>
                <div class="col-sm-12 col-md-4 col-lg-4">@Html.ActionLink("Stop", "Stop", new { id = s.Id }, new { @class = "btn btn-danger" })</div>
                <div class="col-sm-12 col-md-4 col-lg-4">@Html.ActionLink("Restart", "Restart", new { id = s.Id }, new { @class = "btn btn-warning" })</div>
            </div>
        </div>
    </div>
	<br />
}

