@using Webclient.Models;
@model List<ServiceExtended>

@{
    ViewBag.Title = "Index";
}

<h2>Monitor</h2>

@foreach (var s in Model) {
    <!-- Service -->
    <div class="row">
        <div class="col-6">
            <div>@s.Name @s.Id</div>
            <!-- TODO: Farbe pro Status anpassen -->
            <div>@s.Status</div>
            <br />
            <div data-toggle="collapse" data-target="serviceDescription" + @s.Id>Description</div>
            <div id="serviceDescription" + @s.Id>
                @s.Description
            </div>
        </div>
        
        <!-- Zwischenteil -->
        <div class="col-4" />

        <div class="col-6">
            <!-- Momentaner Status ausgrauen -->
            <div>@Html.ActionLink("Start", "Start", new { id = s.Id }, new { @class = "btn btn-success" })</div>
            <div>@Html.ActionLink("Stop", "Stop", new { id = s.Id }, new { @class = "btn btn-danger" })</div>    
            <div>@Html.ActionLink("Restart", "Restart", new { id = s.Id }, new { @class = "btn btn-warning" })</div>
        </div>
    </div>
}

