@using Webclient.Models;
@model List<ServiceFull>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Monitor</h2>

@foreach (var s in Model)
{
    <!-- Service -->
    <div class="panel panel-default" id="section_@s.Id">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">@s.DisplayName : @s.Id</div>
                        <!-- TODO: Farbe pro Status anpassen => mit Dictionary in ViewBag -->
                        <div class="col-sm-12 col-md-6 col-lg-6"><p id="status-@s.Id" class="status_@s.Status">@s.Status</p></div>
                    </div>
                    <br />
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse_@s.Identification">Description</a>
                                </h4>
                            </div>
                            <div id="collapse_@s.Identification" class="panel-collapse collapse">
                                <div class="panel-body">@s.Description</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CPU usage part -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            <h4><label>CPU Usage</label></h4>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            [graph]
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><label>CPU:</label></div>
                               <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">@s.PerformanceCPU</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><label>RAM:</label></div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">@s.PerformanceRAM</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        @if (s.Status.Equals("Stopped") || s.Status.Equals("Paused"))
                        {
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input id="start-@s.Id" type="button" class="btn btn-success button-start" value="Start"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input id="stop-@s.Id" type="button" class="btn btn-danger button-stop" value="Stop" disabled="disabled"></div>
                        }
                        else
                        {
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input id="start-@s.Id" type="button" class="btn btn-success button-start" value="Start" disabled="disabled"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input id="stop-@s.Id" type="button" class="btn btn-danger button-stop" value="Stop"></div>
                        }
                        <!--
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">@Html.ActionLink("Start", "Start", new { id = s.Id, name = s.ServiceName }, new { @class = "btn btn-success" })</div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">@Html.ActionLink("Stop", "Stop", new { id = s.Id, name = s.ServiceName }, new { @class = "btn btn-danger" })</div>  
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">@Html.ActionLink("Restart", "Restart", new { id = s.Id, name = s.ServiceName }, new { @class = "btn btn-warning" })</div>
                        -->
                        
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><input id="restart-@s.Id" type="button" class="btn btn-warning button-restart" value="Restart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}
    <!--
        
    -->

@section Scripts {
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/signalR-implementation.js"></script>
}
